* {
    font-family: 'Open Sans', sans-serif;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: #fff;
}

h1 {
    color: black;
    font-weight: bold;
}

h2 {
    color: #000000;
}

#header {
    margin: 1px;
    align-items: center;
}

#header > h1 {
    color: brown;
}

.centered {
    text-align: center;
}

#form {
    background-color: brown;
    color: #fff;
    padding: 4px;
}

#message {
    margin: 20px 8px;
}

.button {
    font-weight: bold;
    color: brown;
}

.degree {
    font-weight: bold;
}

.degree-red {
    color: red;
}

.degree-green {
    color: green;
}